<nav class="navbar navbar-expand-lg " style="background-color: rgb(0, 9, 10);color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;font-style: oblique;font-size: xx-large;"><strong>{{title}}</strong></a>
      <img [src]="logo" alt="amazon">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" style="color: white;" *ngIf="auth">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link active" routerLink="register" style="color: white;">Register</a></li>
          <li class="nav-item"><a class="nav-link active" routerLink="login" style="color: white;">Login</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="features"  style="color: white;"  *ngIf="auth">Features</a>
          </li>
          <li class="nav-item dropdown" *ngIf="auth">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: white;"  *ngIf="auth">
              Product Types
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" routerLink="electronics" *ngIf="auth">Electronics Devices</a></li>
              <li><a class="dropdown-item" routerLink="fashiondeals" *ngIf="auth">Fashion deals</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="productdetail" *ngIf="auth">product details</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact"  style="color: white;" *ngIf="auth">Contacts</a>
           
          </li >
          
         
        </ul>
        <form class="d-flex" style="margin-right: 50px;">
          <input class="form-control me-2" type="search" #productname placeholder="Enter product name" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" (click)="search_product(productname.value); productname.value=''">Search</button>
            <br>
            <app-search [product]="productentered"></app-search>
        
        </form>
        <a class="btn btn-outline-dark" type="submit" style="border-radius:10px;color:white;margin-right: 10px;" routerLink="login"
          *ngIf="auth">Logout</a>
        <button routerLink='cartitems' style="height:5px;border:none;" *ngIf="auth">
          <span class="fa fa-cart-plus" style="font-size:16px;color:white"><sup class="text-warning" style="font-size:10px;margin-left: 3px;;">{{cartCount}}</sup></span>
        </button> &nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </nav>