<app-banner></app-banner>
<div style="margin-top: 30px;">
    <div class="row">
       

        <!--1st column-->
        <div class="card col-lg-4" style="border:none;margin-top: -20px;">
            <app-fashion [product]="productItem" *ngFor="let productItem of all"></app-fashion>>
        </div>
        <!--2nd column-->
        <div class="col col-lg-4">
            <img src="https://img.freepik.com/free-psd/horizontal-banner-template-big-sale-with-woman-shopping-bags_23-2148786755.jpg?w=2000" alt="" style="width: 450px; height: 600px;">
           <img src="https://cdn.shopify.com/s/files/1/2019/8333/files/Summer-2022-Website-Header-2_741a9a2f-f361-410c-8201-ae55dccf5b79_2048x.jpg?v=1655160170" alt=""  style="width: 450px; height: 600px;">
            <img src="https://coreldrawdesign.com/resources/previews/preview-social-media-post-instagram-and-facebook-special-fashion-banner-template-1622027768.jpg" alt="" style="width: 450px; height: 600px;">
        </div>
        <!--3rd column-->
        <div class="card col-lg-4" style="border:none;margin-top: -20px;">
            <app-fashion [product]="productItem" *ngFor="let productItem of all"></app-fashion>>
        </div>

    </div>
</div>