<div class="container">
    <h2>Total Cart Amount: {{totalPrice(cart)|currency:'INR':'symbol':'3.0'}}</h2>
    <hr>
    <div class="row" style="background-color: black;color:white">
      <div class="col-sm">
        <h3>Product Image</h3>
      </div>
      <div class="col-sm">
        <h3>Product Name</h3>
      </div>
      <div class="col-sm">
        <h3>Quantity</h3>
      </div>
      <div class="col-sm">
        <h3>Price</h3>
      </div>
      <div class="col-sm">
        <h3>Remove item</h3>
      </div>
    </div>
    <hr>
    <div class="container" *ngFor="let item of cart" style="background-color: black;color:white;" class="formy">
      <div class="row">
        <div class="col-sm" style="margin-top: 10px;">
          <img src={{item.img}}>
        </div>
        <div class="col-sm">
          <h3> {{item.pname}}</h3>
        </div>
        <div class="col-sm">
          <h3> {{item.quantity}}</h3>
        </div>
        <div class="col-sm">
          <h3> {{item.price}}</h3>
        </div>
        <div class="col-sm">
          <div>{{item.totalPrice}}</div>
          <button class="btn btn-danger m-3" (click)="delete(item)"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <a class="btn btn-dark m-3" (click)="onClick()">Shop More</a>
        <a class="btn btn-dark m-3" href="https://rzp.io/i/783KMkD" target="_blank">CheckOut</a>
      </div>   
      <div class="col-lg-5">
        <div>
          <h3>Total: {{totalPrice(cart)|currency:'INR'}}</h3>
        </div>
      </div>
    </div>
  </div>